<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <title>Hello Adonis</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    {{ style('style') }}
    {{ style('overflow') }}
</head>

<body>
    <header>
      <nav class="navbar is-white topNav">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
              <img src="{{ assetsUrl('logo.png') }}" >
            </a>
            <div class="navbar-burger burger" data-target="topNav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id="topNav" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button is-small" href="login">
                      <span class="icon">
                        <i class="fa fa-user-plus"></i>
                      </span>
                      <span>
                        Register
                      </span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button is-small is-info is-outlined" href="login">
                      <span class="icon">
                        <i class="fa fa-user"></i>
                      </span>
                      <span>Login</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section class="container">
      <div class="columns">
        <div class="column is-3">
          <a class="button is-primary is-block is-alt is-large" href="/createPost">New Post</a>
          <aside class="menu">
            <p class="menu-label">
              Tags
            </p>
            <ul class="menu-list">
              <li><span class="tag is-dark is-medium ">Payments</span></li>
            </ul>
          </aside>
        </div>
        <div class="column is-9">
          <div class="box content">
            @each(post in posts)

              <article class="post">
                <a href="/post/{{post.href}}">
                  <h4>{{post.title}}</h4>
                </a>
                <div class="media">
                  <div class="media-left">
                    <p class="image is-32x32">
                      <img src="http://bulma.io/images/placeholders/128x128.png">
                    </p>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <a href="#">@jsmith</a> replied 34 minutes ago &nbsp;
                        <span class="tag">Question</span>
                      </p>
                    </div>
                  </div>
                  <div class="media-right">
                    <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                  </div>
                </div>
              </article>
            @endeach

          </div>
        </div>
      </div>
    </section>
</body>
</html>
