<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  {{ style('style') }}
  {{ style('login') }}
</head>
<body >
  <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                  <a href="/">
                    <img src="{{ assetsUrl('logo.png') }}">
                  </a>

                    <h3 class="title has-text-grey">Login or Signin</h3>
                    <p class="subtitle has-text-grey">Please login or sign in to proceed.</p>
                    <div class="box">
                        <form action="{{ route('auth.login') }}" method="post">
                          {{ csrfField() }}
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" name="email" value="al@jsd.fr">
                                </div>
                                {{ elIf('<p class="help is-danger has-text-left	">$self</p>', getErrorFor('email'), hasErrorFor('email')) }}
                            </div>



                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="Your username" name="username">
                                </div>
                                {{ elIf('<p class="help is-danger has-text-left	">$self</p>', getErrorFor('username'), hasErrorFor('username')) }}
                            </div>



                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password" name="password">
                                </div>
                                {{ elIf('<p class="help is-danger has-text-left	">$self</p>', getErrorFor('password'), hasErrorFor('password')) }}
                            </div>

                            <button class="button is-block is-info is-large is-fullwidth is-primary">Login / Signin</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>
