<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  {{ style('style') }}
  {{ style('login') }}
</head>
<body>
  <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Login</h3>
                    <p class="subtitle has-text-grey">Please login to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://direct.rhapsody.com/imageserver/images/Alb.313905200/500x500.jpg">
                        </figure>
                        <form action="{{ route('auth.login') }}" method="post">
                          {{ csrfField() }}
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="Your Email" name="email" value="al@jsd.fr">
                                </div>
                                {{ elIf('<p class="help is-danger has-text-left	">$self</p>', getErrorFor('email'), hasErrorFor('email')) }}
                            </div>



                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="Your username" name="username">
                                </div>
                                {{ elIf('<p class="help is-danger has-text-left	">$self</p>', getErrorFor('username'), hasErrorFor('username')) }}
                            </div>



                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="Your Password" name="password">
                                </div>
                                {{ elIf('<p class="help is-danger has-text-left	">$self</p>', getErrorFor('password'), hasErrorFor('password')) }}
                            </div>

                            <button class="button is-block is-info is-large is-fullwidth">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
